In [1]:
#installing modules 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
training = pd.read_csv('training.csv')

In [2]:
training.rename(columns={'Q1':'age','Q2':'gender','Q3':'marital_status','Q4':'highest education','Q5':'Which_of_the_following_applies_to_you?','Q6':'land_owner','Q7':'own_a_mobile','Q8_1':'salaries','Q8_2':'money_from_trading','Q8_3':'money_from_providing_service','Q8_4':'piece_work','Q8_5':'rental_income','Q8_6':'interest_from_savings','Q8_7':'Pension','Q8_8':'social_welfare_money','Q8_9':'rely_on_someone_else','Q8_10':"don't_get_money",'Q8_11':'other','Q11':'providing_service', 'Q10':'types_of_income'}, inplace=True)
number_to_gender= {1:'female',2:'male'
}
mobile_mney={0:'no',1:'yes'  
}
mmc= {0:'no_mobile_money',1:'one_finacial_service',2:'mobile_money_only',3:'mobile_money_and_other'
}
ms={1:'married',2:'divorced',3:'widowed',4:'single/never_married'
}
svng={0:'no',1:'yes'
}
lo={1:'yes',2:'no'
}
qy={-1:'not_applicable',1:'never',2:'daily',3:'weekly',4:'monthly',5:'less_often'
}

typ={
    -1:'Not applicable',1:'Personalservices',
    2:'Telecommunications/IT',3:'Financialservices',
    4:'Transport',5:'Hospitality',
    6:'Information/Research',7:'Technical',
    8:'Childcare',9:'Healthservices',
    10:'Legalservices',11:'Security',
    12:'Other'   
}
types={
    -1:'Not applicable',
    1:'Produce I grow',
    2:'Products from livestock',
    3:'Livestock',
    4:'Aquaculture',
    5:'Agricultural products',
    6:'Non-agricultural products',
    7:'Things you make',
    8:'Collection from nature',
    9:'Things you process',
    10:'Other'
}
training.providing_service = training.providing_service.map(typ)
training.types_of_income = training.types_of_income.map(types)
training.gender = training.gender.map(number_to_gender)
training.mobile_money_classification = training.mobile_money_classification.map(mmc)
training.marital_status = training.marital_status.map(ms)
training.mobile_money = training.mobile_money.map(mobile_mney)
training.savings = training.savings.map(svng)
training.land_owner = training.land_owner.map(lo)
training.Q16 = training.Q16.map(qy)
training.Q17 = training.Q17.map(qy)
male = training[training.gender=='male']
female = training[training.gender=='female']

In [3]:
training

,ID,age,gender,marital_status,highest education,Which_of_the_following_applies_to_you?,land_owner,own_a_mobile,salaries,money_from_trading,...,Q17,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
0,5086,98,male,widowed,1,1,no,2,0,0,...,not_applicable,4,4,-4.460442,29.811396,no,no,0,0,no_mobile_money
1,1258,40,female,married,3,5,yes,1,1,0,...,monthly,1,4,-6.176438,39.244871,yes,yes,1,0,mobile_money_and_other
2,331,18,male,single/never_married,6,3,no,1,0,0,...,not_applicable,1,1,-6.825702,37.652798,yes,no,0,0,mobile_money_only
3,6729,50,female,married,3,1,yes,1,0,0,...,not_applicable,1,4,-3.372049,35.808307,yes,no,1,0,mobile_money_and_other
4,8671,34,female,married,1,1,no,1,0,1,...,not_applicable,1,4,-7.179645,31.039095,yes,yes,0,1,mobile_money_and_other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7089,8378,57,male,widowed,3,1,no,2,0,1,...,not_applicable,1,4,-5.811335,35.098103,no,yes,0,0,one_finacial_service
7090,881,32,female,married,6,3,yes,1,0,1,...,not_applicable,1,1,-2.635156,32.945423,yes,yes,0,0,mobile_money_and_other
7091,6672,22,male,widowed,3,3,no,2,0,1,...,not_applicable,4,4,-8.303729,31.059642,no,no,0,0,no_mobile_money
7092,5416,28,male,married,3,1,no,2,0,1,...,not_applicable,1,4,-8.090712,35.836560,yes,no,0,1,mobile_money_and_other
7093,3946,78,female,widowed,1,1,no,2,0,0,...,not_applicable,4,4,-5.192204,38.764523,no,no,0,0,no_mobile_money

In [4]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import numpy as np
import plotly.offline as pyo
import plotly.graph_objects as go
import plotly.express as px

In [5]:

m_money = training[training.mobile_money=='yes']
marital_q16 = m_money.groupby(['marital_status', 'Q16'])['marital_status'].count().unstack('Q16').fillna(0)


divorced = np.array(marital_q16.iloc[0:1])
married = np.array(marital_q16.iloc[1:2])
single = np.array(marital_q16.iloc[2:3])
widowed = np.array(marital_q16.iloc[3:4])
animals=['daily', 'less_often', 'monthly','never','weekly']

In [6]:
married

array([[  47,  727,  350, 1278,  148]])

In [ ]:
app = dash.Dash()

colors = {'background':'#111111','text':'#7FDBFF'}

app.layout = html.Div([
            html.H1('Mobile money Dashboard',style={'textAlign':'center',
                                          'color':colors['text']}),
                        html.Div([dcc.Graph(id='Mobile_money_BAR_GRAPH',
                      figure={'data':[go.Bar(x=training.mobile_money_classification.values,y=training.index)
                                                                   ],
                            'layout':go.Layout(title='mobile money classification graph')})
                                  ],style={'color':'red','border':'2px red solid'})
            ,


        
                        html.Div([dcc.Graph(id='male',
                      figure={'data':[go.Pie(labels=['mobile_money_and_other','no_mobile_money','one_finacial_service','mobile_money_only'],
                                            values=np.array(male.mobile_money_classification.value_counts())),
                                    ],

                              'layout':go.Layout(title='male pie chart')})
            ,
    
                        dcc.Graph(id='Female',
                      figure={'data':[go.Pie(labels=['mobile_money_and_other','no_mobile_money','one_finacial_service','mobile_money_only'],
                                            values=np.array(female.mobile_money_classification.value_counts())),
                                    ],

                              'layout':go.Layout(title='Female pie chart')})
                                  ],style={'color':'red','border':'2px red solid'})
    
            ,
                        html.Div([dcc.Graph(id='BAR_GRAPH',
                      figure={'data':[go.Bar(x=training.age,y=training.mobile_money)
                                      
                             ],
                            'layout':go.Layout(title='BAR GRAPH AGE')})
                                  ],style={'color':'red','border':'2px red solid'})
            ,
                        html.Div([dcc.Graph(id='BAR_GRAH',
                      figure={'data':[go.Bar(x=['marital_q16.daily','marital_q16.less_often','marital_q16.monthly','marital_q16.never','marital_q16.weekly'],y=marital_q16.daily)
                                      
                             ],
                            'layout':go.Layout(title='BAR GRAPH AE',barmode='stack')})
                                  ],style={'color':'red','border':'2px red solid'})
            ,
                        html.Div([dcc.Graph(id='marital stacked bargraph',
                      figure={'data':[
                          go.Bar(name='Divorced', x=animals, y=divorced),
                          go.Bar(name='Single', x=animals, y=single),
                          go.Bar(name='Married', x=animals, y=married),
                          go.Bar(name='Widowed', x=animals, y=widowed)
                      ],
                      'layout':go.Layout(title='marital stacked bargraph',barmode='stack')})
                                 ],style={'color':'red','border':'2px red solid'})
], 
style={'color':'black','border':'2px black solid'})
                     




if __name__ =='__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [18/Mar/2020 00:44:54] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [18/Mar/2020 00:44:55] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [18/Mar/2020 00:44:55] "GET /_favicon.ico?v=1.9.1 HTTP/1.1" 200 -
127.0.0.1 - - [18/Mar/2020 00:44:55] "GET /_dash-layout HTTP/1.1" 200 -